@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary font-secondary bg-white;
  }
  .h1 {
    @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }
  .section {
    @apply h-screen w-screen;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  }
  .h2{
    @apply text-[54px] lg:text-[40px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em];
  }
  .card{
    background: rgba(171, 171, 171, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.208);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(171, 171, 171, 0.07);
  }
}
.active{
  border-bottom: 4px solid #8d8e94 ;
}
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#474bff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
  }

  @keyframes spinner-c7wet2 {
  100% {
      transform: rotate(1turn);
  }
  }
  .bg-loadingSpiner{
    background-color: rgba(33, 17, 25, 0.051);
  }
@media only screen and (max-height: 527px) {
  /* For mobile small phones: */
  .Overflow-y-visible {
   overflow-y: visible;
  }
}
